@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-border;
  }

  body {
    @apply text-text mt-24;
  }  

#contentModal {
  @apply rounded-xl;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -150px; /* Ajustez cette valeur selon vos besoins pour remonter la modal */
}

}
